# ignore jupyter notebook backup folders
.ipynb_checkpoints/
python_api/.ipynb_checkpoints/

# ignore linux background log file
nohup.out

# mac files
.DS_Store

# ms power point files
*.pptx

# Python仮想環境ファイル
Wave_Tutorial_v0160/v0160/*
Wave_Tutorial_v0170/v0170/*
Wave_Tutorial_v0190/v0190/*
Wave_Tutorial_v0200/v0200/*

# app.pyで利用されるデータ保存先
Wave_Tutorial_v0160/scoring_data/*.csv
Wave_Tutorial_v0170/scoring_data/*.csv
Wave_Tutorial_v0190/scoring_data/*.csv
Wave_Tutorial_v0200/scoring_data/*.csv

# testフォルダ
Wave_Tutorial_v0160/test/*
Wave_Tutorial_v0170/test/*
Wave_Tutorial_v0190/test/*
Wave_Tutorial_v0200/test/*

# サンプルコードフォルダ
Wave_Tutorial_v0200/wave/*

# Waveで使われるキャッシュ等
h2o_wave.state
__pycache__
