# ignore jupyter notebook backup folders
.ipynb_checkpoints/
python_api/.ipynb_checkpoints/

# ignore linux background log file
nohup.out

# mac files
.DS_Store

# ms power point files
*.pptx

# Python仮想環境ファイル
Wave_Tutorial_v0160/v0160/*

# app.pyで利用されるデータ保存先
Wave_Tutorial_v0160/scoring_data/*.csv

# Waveで使われるキャッシュ等
h2o_wave.state
__pycache__
